.temp5-html {
    /* Light Theme */
    --primary-font: "Poppins", sans-serif;
    --primary-bg-color: #ffffff;
    --primary-text-color: #000000;
    --secondary-color: #575757;
    --btn-bg-color: #2196f3;
    --cta-hover-color: #167bce;
    --btn-bg-light: #eeeeee;
  
    /* Dark Theme */
    --dark-primary-bg-color: #222222;
    --dark-primary-text-color: #ffffff;
    --dark-secondary-color: #828282;
    --dark-btn-bg-color: #1e88e5;
    --dark-cta-hover-color: #0d5e8c;
    --dark-btn-bg-light: #eeeeee;
  }
  
  .dark-theme {
    --primary-bg-color: var(--dark-primary-bg-color);
    --primary-text-color: var(--dark-primary-text-color);
    --secondary-color: var(--dark-secondary-color);
    --btn-bg-color: var(--dark-btn-bg-color);
    --cta-hover-color: var(--dark-cta-hover-color);
    --btn-bg-light: var(--dark-btn-bg-light);
  }
  
  .temp5-body {
    margin: 0;
    font-family: var(--primary-font, "Arial, sans-serif");
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  
  .temp5-theme-btn {
    position: relative;
    left: 8.5rem;
  }
  
  .temp5-h1,
  .temp5-h2,
  .temp5-h3,
  .temp5-p {
    margin: 0;
    cursor: default;
  }
  
  .temp5-article,
  .temp5-footer,
  .temp5-hero,
  .temp5-logo-container,
  .temp5-experience,
  .temp5-cta,
  .temp5-portfolio-skills,
  .temp5-btn-bg,
  .temp5-portfolio,
  .temp5-skills {
    display: flex;
  }
  
  .temp5-hero,
  .temp5-portfolio,
  .temp5-skills {
    flex-direction: column;
  }
  
  .temp5-hero,
  .temp5-btn-bg,
  .temp5-portfolio,
  .temp5-skills {
    align-items: center;
  }
  
  .temp5-hero,
  .temp5-experience,
  .temp5-wrapper {
    text-align: center;
  }
  
  .temp5-article,
  .temp5-hero,
  .temp5-logo-container,
  .temp5-portfolio,
  .temp5-skills {
    gap: 1rem;
  }
  
  .temp5-hero-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
  .temp5-inner-circle {
    content: "";
    position: absolute;
    top: 0.1rem; /* Adjust border thickness */
    left: 0.1rem;
    bottom: 0.1rem;
    right: 0.1rem;
    border-radius: 50%;
    border: 0.18rem solid var(--primary-bg-color); /* Define your border thickness and color */
    z-index: 1; /* Make sure it is above the image */
  }
  
  .temp5-heropicimg,
  .temp5-wrapperimg {
    width: 100%;
  }
  
  .temp5-heropicimg {
    height: 100%;
    object-fit: cover;
    object-position: top 0.4rem right -1.3rem;
    transform: scale(1.9);
  }
  
  .temp5-heroinfoh1,
  .temp5-h2 {
    font-weight: 400;
  }
  
  .temp5-articlep,
  .temp5-heroinfoh2 {
    color: var(--secondary-color);
  }
  
  .temp5-heroinfoh2 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  
  .temp5-footer,
  .temp5-logo-container,
  .temp5-experience,
  .temp5-cta,
  .temp5-portfolio-skills,
  .temp5-btn-bg {
    justify-content: center;
  }
  
  .temp5-theme-btn,
  .temp5-logo-containera,
  .temp5-logo-containerimg5 {
    height: 1.5rem;
  }

  .temp5-theme-btn {
    width: 1.5rem !important;
  }
  
  .temp5-experience {
    margin: auto;
    margin-top: 1.4rem;
    max-width: 20rem;
  }
  
  .temp5-experienceb {
    font-weight: 500;
  }
  
  .temp5-experienceh2 {
    width: 30%;
    font-weight: 300;
    font-size: 0.9rem;
  }
  
  .temp5-cta {
    margin-top: 1.2rem;
  }
  
  .temp5-cta,
  .temp5-btn-bg {
    gap: 2rem;
  }
  
  .temp5-btn,
  .temp5-btn-2,
  .temp5-btn-bg {
    border-radius: 0.7rem;
    border: none;
  }
  
  .temp5-btn,
  .temp5-btn-2,
  .temp5-btn-bg {
    font-weight: 600;
  }
  
  .temp5-btn,
  .temp5-btn-2,
  .temp5-btn-bg,
  .temp5-wrapper,
  .temp5-project-wrapper {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.3s ease, color 0.3s ease;
  }
  
  .temp5-download-btn:hover {
    background-color: var(--cta-hover-color);
  }
  
  .temp5-theme-btn,
  .temp5-download-btn:hover,
  .temp5-contact-btn:hover,
  .temp5-btn-2:hover,
  .temp5-wrapperimg:hover {
    cursor: pointer;
  }
  
  .temp5-btn:hover,
  .temp5-btn-2:hover,
  .temp5-project-wrapper:hover,
  .temp5-logo-containera:hover {
    transform: scale(0.98);
  }
  
  .temp5-btn:active,
  .temp5-btn-2:active,
  .temp5-project-wrapper:active,
  .temp5-logo-containera:active {
    transform: scale(1);
  }
  
  .temp5-contact-btn:hover,
  .temp5-download-btn {
    background-color: var(--btn-bg-color);
    color: white;
  }
  
  .temp5-contact-btn:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .temp5-btn-2:hover,
  .temp5-active-btn {
    background-color: white;
  }
  
  .temp5-btn,
  .temp5-btn-2 {
    height: 3rem;
  }
  
  .temp5-btn {
    width: 9rem;
  }
  
  .temp5-btn-2 {
    width: 8.5rem;
  }
  
  .temp5-download-btn {
    transition: background-color 0.3s ease;
  }
  
  .temp5-portfolio-skills {
    height: 4rem;
    margin-top: 1.5rem;
    position: relative;
  }
  
  .temp5-btn-bg,
  .temp5-wrapper {
    width: 20rem;
  }
  
  .temp5-articlep,
  .temp5-btn-bg {
    background-color: var(--btn-bg-light);
  }
  
  .temp5-hero,
  .temp5-portfolio,
  .temp5-skills {
    margin-top: 2rem;
  }
  
  .temp5-skills {
    display: none;
  }
  
  .temp5-wrapperimg {
    border-radius: 1rem;
  }
  
  .temp5-article {
    margin-bottom: 1.5rem;
  }
  
  .temp5-article {
    flex-wrap: wrap;
  }
  
  .temp5-articlep {
    border-radius: 0.5rem;
    flex-grow: 20;
    padding: 1rem;
  }
  
  .temp5-footer {
    margin: 3rem 0;
  }
  
  @media screen and (min-width: 900px) {
    .temp5-skills,
    .temp5-portfolio {
      flex-direction: row;
      width: 45rem;
    }
    .temp5-skills {
      margin: 2rem auto 0;
    }
    .temp5-portfolio {
      margin: 2rem auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .temp5-wrapper {
      width: calc(48%);
      flex: none;
    }
  }
  